html {
  padding: 0px;
  margin: 0px;
  font-size: 62.5%;
}

@font-face {
  font-family: muli;
  src: url(../fonts/muli.regular.ttf);
}
body {
  font-family: muli;
  font-size: 1.6rem;
  overflow-x: hidden;
}
body a {
  text-decoration: none;
}

header {
  background-color: transparent;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  z-index: 99999;
  border-bottom: 1px solid #1f7dbc;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(66, 66, 66) 0%, rgba(255, 255, 255, 0) 100%);
}
header .topHeader ul .countriesWrapper {
  position: relative;
}
header .topHeader ul .countriesWrapper:hover .locations {
  display: block;
}
header .topHeader ul .countriesWrapper .locations {
  display: none;
  background-color: rgba(59, 59, 58, 0.9);
  padding: 3rem;
  width: 25rem;
  position: absolute;
  left: 2rem;
  top: 4rem;
  z-index: 999999;
}
header .topHeader ul .countriesWrapper .locations ul {
  position: relative;
  z-index: 999999;
}
header .topHeader ul .countriesWrapper .locations ul li:first-child {
  border-right: 0px solid rgba(255, 255, 255, 0.8);
}
header .topHeader ul .countriesWrapper .locations ul li:nth-child(3n+1) {
  border-bottom: 2px solid #1f7dbc;
}
header .topHeader ul .countriesWrapper .locations ul li:nth-child(3n+2) {
  border-bottom: 2px solid #6db12d;
}
header .topHeader ul .countriesWrapper .locations ul li:nth-child(3n+3) {
  border-bottom: 2px solid #e3051f;
}
header .topHeader ul .countriesWrapper .locations ul li a {
  color: #fff;
  padding: 0.4rem 0rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}
header .topHeader ul .groupsWrapper {
  position: relative;
}
header .topHeader ul .groupsWrapper:hover .groups {
  display: block;
}
header .topHeader ul .groupsWrapper .groups {
  display: none;
  background-color: rgba(59, 59, 58, 0.9);
  padding: 3rem;
  width: 25rem;
  position: absolute;
  left: 0rem;
  top: 4rem;
  z-index: 999999;
}
header .topHeader ul .groupsWrapper .groups ul {
  position: relative;
  z-index: 999999;
}
header .topHeader ul .groupsWrapper .groups ul li:first-child {
  border-right: 0px solid rgba(255, 255, 255, 0.8);
}
header .topHeader ul .groupsWrapper .groups ul li:nth-child(3n+1) {
  border-bottom: 2px solid #1f7dbc;
}
header .topHeader ul .groupsWrapper .groups ul li:nth-child(3n+2) {
  border-bottom: 2px solid #6db12d;
}
header .topHeader ul .groupsWrapper .groups ul li:nth-child(3n+3) {
  border-bottom: 2px solid #e3051f;
}
header .topHeader ul .groupsWrapper .groups ul li:last-child {
  border-bottom: 0px solid #e3051f;
}
header .topHeader ul .groupsWrapper .groups ul li {
  cursor: pointer;
  color: #fff;
  padding: 0.7rem 0rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}
header .topHeader ul .groupsWrapper .groups ul li h4 {
  font-size: 1.5rem;
}
header .topHeader ul .groupsWrapper .groups ul li p {
  font-size: 1.2rem;
}
header .topHeader ul li {
  margin-left: 0px;
}
header .topHeader ul li a {
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  display: block;
  text-align: left;
}
header .topHeader ul li:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.8);
}
header nav {
  padding: 2rem;
}
header nav .mobileMenuColumn {
  display: none;
}
header nav ul {
  display: flex;
}
header nav ul li {
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
}
header nav ul li i {
  font-size: 1.3rem;
}
header nav ul li .search {
  font-size: 1.8rem;
}
header nav ul li .menu {
  font-size: 2rem;
}
header .headerColors {
  width: 100%;
  display: none;
}
header .headerColors .color1 {
  background-color: #1f7dbc;
  width: 33%;
  height: 0.4rem;
}
header .headerColors .color2 {
  background-color: #6db12d;
  width: 33%;
  height: 0.4rem;
}
header .headerColors .color3 {
  background-color: #e3051f;
  width: 34%;
  height: 0.4rem;
}

.home-slider {
  position: relative;
}
.home-slider .home-slider-content {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 6%;
  transform: translate(0%, -50%);
  width: 50%;
  color: #fff;
}
.home-slider .home-slider-content span {
  font-size: 3rem;
}
.home-slider .home-slider-content h1 {
  font-size: 5rem;
}
.home-slider .home-slider-content p {
  font-size: 2rem;
}
.home-slider .item {
  position: relative;
}
.home-slider .item .main-slider-bg {
  width: 100vw;
  height: 120vh;
}
.home-slider .item .main-slider-bg1 {
  background-image: url(../images/banner1.jpg);
}
.home-slider .item .main-slider-bg2 {
  background-image: url(../images/banner2.jpg);
}
.home-slider .item .main-slider-bg3 {
  background-image: url(../images/banner3.jpg);
}
.home-slider .item .main-slider-bg3::after {
  mix-blend-mode: overlay;
  top: 0%;
  background-color: #e3051f;
  left: 0%;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
}
.home-slider .item .main-slider-bg {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.home-slider .item .fixedBottomCatogries {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}
.home-slider .item .fixedBottomCatogries h2 {
  text-align: center;
  font-size: 2.8rem;
  color: #fff;
  padding: 2rem;
  position: relative;
}
.home-slider .item .fixedBottomCatogries h2::after {
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 100%;
  height: 0.6rem;
  z-index: 9;
  content: "";
}
.home-slider .item .fixedBottomCatogries .afterEffect1::after {
  background-color: #1f7dbc;
}
.home-slider .item .fixedBottomCatogries .afterEffect2::after {
  background-color: #6db12d;
}
.home-slider .item .fixedBottomCatogries .afterEffect3::after {
  background-color: #e3051f;
}

.whatWeDo {
  margin-top: 8rem;
}
.whatWeDo h2 {
  font-size: 4.8rem;
}
.whatWeDo h3 {
  font-size: 2.2rem;
  margin-top: 4rem;
  line-height: 2.9rem;
  color: #1d1d1b;
}
.whatWeDo .workCard {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.whatWeDo .workCard .cardImg {
  position: relative;
}
.whatWeDo .workCard .cardImg:hover {
  transition: all 0.6s ease;
}
.whatWeDo .workCard .cardImg:hover .sideWhiteBlock {
  width: 11rem;
  height: 11rem;
}
.whatWeDo .workCard .cardImg:hover .sideColorBlock {
  width: 3rem;
  height: 3rem;
}
.whatWeDo .workCard .cardImg::after {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  content: "";
  z-index: 9;
  background-color: #1f7dbc;
}
.whatWeDo .workCard .cardImg img {
  width: 100%;
  height: 23rem;
}
.whatWeDo .workCard .cardImg .sideWhiteBlock {
  z-index: 99;
  transition: all 0.6s ease;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 9rem;
  height: 9rem;
  border-right: 2.5rem solid #fff;
  border-bottom: 2.5rem solid #fff;
}
.whatWeDo .workCard .cardImg .sideColorBlock {
  z-index: 99;
  transition: all 0.6s ease;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 2rem;
  height: 2rem;
  border-right: 0.5rem solid #1f7dbc;
  border-bottom: 0.5rem solid #1f7dbc;
}
.whatWeDo .workCard .cardTitle {
  font-size: 3.2rem;
  margin: 4rem 0 2rem 0;
}
.whatWeDo .workCard .cardDesc {
  font-size: 1.6rem;
}
.whatWeDo .workCard .cardBtn {
  margin-top: 5rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0rem 2.3rem 1.5rem 2.3rem;
}
.whatWeDo .workCard .cardBtn::after {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0.2rem;
  background-color: #1f7dbc;
  width: 50%;
  transition: all 0.2s ease-out 0.1s;
  content: "";
}
.whatWeDo .workCard .cardBtn::before {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  background-color: #1f7dbc;
  width: 0.2rem;
  transition: all 0.2s ease-out 0.1s;
  content: "";
}
.whatWeDo .workCard .cardBtn:hover {
  transition: all 0.2s ease-out 0.1s;
}
.whatWeDo .workCard .cardBtn:hover::after {
  width: 100%;
}
.whatWeDo .workCard .cardBtn:hover::before {
  height: 0%;
}
.whatWeDo .workCard .cardBtn span {
  line-height: 2.2rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 0.35rem;
  color: #1d1d1b;
  font-weight: 800;
}
.whatWeDo .workCard1 .cardBtn::after, .whatWeDo .workCard1 .cardBtn::before,
.whatWeDo .workCard4 .cardBtn::after,
.whatWeDo .workCard4 .cardBtn::before {
  background-color: #1f7dbc;
}
.whatWeDo .workCard1 .cardImg::after,
.whatWeDo .workCard4 .cardImg::after {
  background-color: #1f7dbc;
}
.whatWeDo .workCard1 .cardImg .sideColorBlock,
.whatWeDo .workCard4 .cardImg .sideColorBlock {
  border-right: 0.5rem solid #1f7dbc;
  border-bottom: 0.5rem solid #1f7dbc;
}
.whatWeDo .workCard2 .cardBtn::after, .whatWeDo .workCard2 .cardBtn::before,
.whatWeDo .workCard5 .cardBtn::after,
.whatWeDo .workCard5 .cardBtn::before {
  background-color: #6db12d;
}
.whatWeDo .workCard2 .cardImg::after,
.whatWeDo .workCard5 .cardImg::after {
  background-color: #6db12d;
}
.whatWeDo .workCard2 .cardImg .sideColorBlock,
.whatWeDo .workCard5 .cardImg .sideColorBlock {
  border-right: 0.5rem solid #6db12d;
  border-bottom: 0.5rem solid #6db12d;
}
.whatWeDo .workCard3 .cardBtn::after, .whatWeDo .workCard3 .cardBtn::before,
.whatWeDo .workCard6 .cardBtn::after,
.whatWeDo .workCard6 .cardBtn::before {
  background-color: #e3051f;
}
.whatWeDo .workCard3 .cardImg::after,
.whatWeDo .workCard6 .cardImg::after {
  background-color: #e3051f;
}
.whatWeDo .workCard3 .cardImg .sideColorBlock,
.whatWeDo .workCard6 .cardImg .sideColorBlock {
  border-right: 0.5rem solid #e3051f;
  border-bottom: 0.5rem solid #e3051f;
}
.whatWeDo .workCard4 {
  padding-bottom: 8rem;
  border-bottom: 1px solid #1f7dbc;
}
.whatWeDo .workCard5 {
  padding-bottom: 8rem;
  border-bottom: 1px solid #6db12d;
}
.whatWeDo .workCard6 {
  padding-bottom: 8rem;
  border-bottom: 1px solid #e3051f;
}

.ourClients {
  margin-top: 8rem;
}
.ourClients h2 {
  font-size: 4.8rem;
}
.ourClients h3 {
  font-size: 2.6rem;
  line-height: 2.9rem;
  color: #1f7dbc;
}
.ourClients .ourClints-slider {
  margin-top: 5rem;
}
.ourClients .ourClints-slider .item {
  padding-top: 2rem;
}
.ourClients .ourClints-slider .bbBlue {
  border-bottom: 1px solid #1f7dbc;
}
.ourClients .ourClints-slider .bbRed {
  border-bottom: 1px solid #6db12d;
}
.ourClients .ourClints-slider .bbGreen {
  border-bottom: 1px solid #e3051f;
}
.ourClients .ourClints-slider img {
  transition: all 0.3s ease;
  padding-bottom: 1rem;
  position: relative;
  top: 0rem;
}
.ourClients .ourClints-slider img:hover {
  transition: all 0.3s ease;
  top: -2rem;
}

.ourPresence {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/CPM-Worldwide-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.ourPresence::after {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  content: "";
  background-color: rgb(31, 125, 188);
  mix-blend-mode: multiply;
}
.ourPresence .content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 99;
  color: #fff;
  text-align: center;
}
.ourPresence .content h2 {
  font-size: 4.8rem;
}
.ourPresence .content p {
  margin-top: 1rem;
  font-size: 2.1rem;
}
.ourPresence .content .btn {
  display: inline-block;
  margin-top: 3rem;
  cursor: pointer;
  position: relative;
  padding: 0rem 2.3rem 1.5rem 2.3rem;
}
.ourPresence .content .btn::after {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0.2rem;
  background-color: #e3051f;
  width: 50%;
  transition: all 0.2s ease-out 0.1s;
  content: "";
}
.ourPresence .content .btn::before {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  background-color: #e3051f;
  width: 0.2rem;
  transition: all 0.2s ease-out 0.1s;
  content: "";
}
.ourPresence .content .btn:hover {
  transition: all 0.2s ease-out 0.1s;
}
.ourPresence .content .btn:hover::after {
  width: 100%;
}
.ourPresence .content .btn:hover::before {
  height: 0%;
}
.ourPresence .content .btn span {
  line-height: 2.2rem;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.35rem;
  color: #fff;
  font-weight: 800;
}

@media screen and (max-width: 991px) {
  .home-slider .home-slider-content {
    width: 100%;
  }
  .whatWeDo h2 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 767px) {
  header .topHeader {
    display: none;
  }
  header nav .mobileMenuColumn {
    display: block;
  }
  header nav .navigationBar {
    display: none;
  }
  header nav .navigationBar ul li {
    cursor: pointer;
  }
  .home-slider .home-slider-content span {
    font-size: 2rem;
  }
  .home-slider .home-slider-content h1 {
    font-size: 3rem;
  }
  .home-slider .home-slider-content p {
    font-size: 1.4rem;
  }
  .home-slider .item .fixedBottomCatogries h2 {
    font-size: 1.4rem;
  }
  .home-slider .whatWeDo .workCard .cardImg img {
    height: 19rem;
  }
  .ourClients h2 {
    font-size: 3.8rem;
  }
  .ourClients h3 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .whatWeDo h2 {
    font-size: 2.5rem;
  }
  .whatWeDo h3 {
    font-size: 1.8rem;
  }
  .whatWeDo .workCard .cardImg img {
    height: auto;
  }
  .whatWeDo .workCard .cardBtn {
    margin-left: 1rem;
  }
  .ourClients h2 {
    font-size: 3rem;
  }
  .ourClients h3 {
    font-size: 1.6rem;
  }
  .ourPresence .content h2 {
    font-size: 3.3rem;
  }
  .ourPresence .content p {
    font-size: 1.8rem;
  }
  .ourPresence .content .btn span {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=index.css.map */